 .command {
    margin-bottom: 80px;

    &__caption {
      letter-spacing: 1px;
      margin-bottom: 45px;
    }

    &__photo {
      margin-left: 55px;
    }

    &__description {
      width: 757px;
      margin-top: -190px;
      text-align: center;
      letter-spacing: 1px;
      margin-left: 185px;
    }

    &__link {
      display: inline-block;
      margin-left: 470px;
      margin-top: 50px;
    }
 }